<header class=header>
	<h1 class="header-logo"><a href="">JET<span class="header-logo header-logo--opacity">RO</span> &nbsp;</a></h1>
	<nav>
		<ul class="header-menu">
			<li><a href="" class='header-menu__link' id="1">home</a></li>
			<li><a href="" class='header-menu__link'>about us</a></li>
			<li><a href="page.html" class='header-menu__link'>blog</a></li>
			<li><a href="" class='header-menu__link'>porfolio</a></li>
			<li><a href="" class='header-menu__link header-menu__link--last'>contact us</a></li>
		</ul>
	</nav>
</header>

