<section class="blog">
	<div class="blog-post">
		<div class="blog-post-icon">
			<div class="blog-post-icon__item">
                <a href="" ><img src="img/icon1.png" alt=""></a>
			</div>	
		</div>
		<div class="blog-post-content">
			<div class="block-post-content-slider">
				<ul id="lightSlider" class="lightSlider">
					<li data-thumb="img/slider_photo1.png"><img src="img/slider_photo1.png" alt="#photo1" class="block-post-content-slider__img"></li>
					<li data-thumb="img/slider_photo2.png"><img src="img/slider_photo2.png" alt="#photo2" class="block-post-content-slider__img"></li>
					<li data-thumb="img/slider_photo3.png"><img src="img/slider_photo3.png" alt="#photo3" class="block-post-content-slider__img"></li>
					<li data-thumb="img/slider_photo4.png"><img src="img/slider_photo4.png" alt="#photo4" class="block-post-content-slider__img"></li>
					<li data-thumb="img/slider_photo5.png"><img src="img/slider_photo5.png" alt="#photo5" class="block-post-content-slider__img"></li>
					<li data-thumb="img/slider_photo6.png"><img src="img/slider_photo6.png" alt="#photo6" class="block-post-content-slider__img"></li>
					<li data-thumb="img/slider_photo7.jpg"><img src="img/slider_photo7.jpg" alt="#photo7" class="block-post-content-slider__img"></li>
					<li data-thumb="img/slider_photo8.jpg"><img src="img/slider_photo8.jpg" alt="#photo8" class="block-post-content-slider__img"></li>
				</ul>
			</div>
			<div class="blog-post-content-article">
				<div class="blog-post-content-article-info">
					<h4 class="blog-post-content-article-info__header">
						date
					</h4>
					<p class="blog-post-content-article-info__text">
						April 15, 2012
					</p>
					<h4 class="blog-post-content-article-info__header">
						tags
					</h4>
					<p class="blog-post-content-article-info__text">
						Website | Design
					</p>
					<h4 class="blog-post-content-article-info__header">
						comments
					</h4>
					<p class="blog-post-content-article-info__text">
						4
					</p>
				</div>
				<div class="blog-post-content-article-main">
					<h3 class="blog-post-content-article-main__header">
						<a href="">Top  WordPress  Themes  of  2012</a>
					</h3>
					<p class="blog-post-content-article-main__text1">
						Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
					</p>
					<p class="blog-post-content-article-main__text2">
						Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
					</p>
				</div>
			</div>
			<div class="blog-post-content__line"></div>
		</div>
	</div>
	<div class="blog-post">
		<div class="blog-post-icon">
			<div class="blog-post-icon__item">
                <a href="" ><img src="img/icon2.png" alt=""></a>
			</div>	
		</div>
		<div class="blog-post-content">
			<div class="block-post-content-photo">
				<img src="img/post2_img.png" alt="#photo1" class="block-post-content-photo__img">
			</div>	
			<div class="blog-post-content-article">
				<div class="blog-post-content-article-info">
					<h4 class="blog-post-content-article-info__header">
						date
					</h4>
					<p class="blog-post-content-article-info__text">
						April 15, 2012
					</p>
					<h4 class="blog-post-content-article-info__header">
						tags
					</h4>
					<p class="blog-post-content-article-info__text">
						Website | Design
					</p>
					<h4 class="blog-post-content-article-info__header">
						comments
					</h4>
					<p class="blog-post-content-article-info__text">
						4
					</p>
				</div>
				<div class="blog-post-content-article-main">
					<h3 class="blog-post-content-article-main__header">
						<a href="">Jesus  Typography  Wallpaper  Giveaway!</a>
					</h3>
					<p class="blog-post-content-article-main__text1">
						Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
					</p>
					<p class="blog-post-content-article-main__text2">
						Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
					</p>
				</div>
			</div>
			<div class="blog-post-content__line"></div>
		</div>
	</div>
	<div class="blog-post">
		<div class="blog-post-icon">
			<div class="blog-post-icon__item">
                <a href="" ><img src="img/icon3.png" alt=""></a>
			</div>				
		</div>
		<div class="blog-post-content">
			<div class="blog-post-content-video">
				<div class="blog-post-content-video__size blog-post-content-video__size--2x1"></div>
				<iframe class="blog-post-content-video__src" height="315" src="https://www.youtube.com/embed/VYOjWnS4cMY" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="blog-post-content-article">
				<div class="blog-post-content-article-info">
					<h4 class="blog-post-content-article-info__header">
						date
					</h4>
					<p class="blog-post-content-article-info__text">
						April 15, 2012
					</p>
					<h4 class="blog-post-content-article-info__header">
						tags
					</h4>
					<p class="blog-post-content-article-info__text">
						Website | Design
					</p>
					<h4 class="blog-post-content-article-info__header">
						comments
					</h4>
					<p class="blog-post-content-article-info__text">
						4
					</p>
				</div>
				<div class="blog-post-content-article-main">
					<h3 class="blog-post-content-article-main__header">
						<a href="">Big  Buck  Bunny  Trailer</a>
					</h3>
					<p class="blog-post-content-article-main__text1">
						Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
					</p>
					<p class="blog-post-content-article-main__text2">
						Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...
					</p>
				</div>
			</div>
			<div class="blog-post-content__line"></div>			
		</div>
	</div>
	<div class="blog-post">
		<div class="blog-post-icon">
			<div class="blog-post-icon__item">
                <a href="" ><img src="img/icon4.png" alt=""></a>
			</div>				
		</div>
		<div class="blog-post-content">
			<div class="blog-post-content-quote">
				<div class="blog-post-content-quote__icon">
					<img src="img/quote.png" alt="">
				</div>	
				<div class="blog-post-content-quote__text">
					Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you. 
				</div>
			</div>
			<div class="blog-post-content__line"></div>	
		</div>
	</div>
	<div class="blog-post">
		<div class="blog-post-icon">
			<div class="blog-post-icon__item">
                <a href="" ><img src="img/icon5.png" alt=""></a>
			</div>				
		</div>
		<div class="blog-post-content ">
			<div class="blog-post-content-refer">
				<h3 class="blog-post-content-refer__header">
					<a href="">Some of the best freebies on the web</a>
				</h3>	
				<a href="http://www.bestpsdfreebies.com" class="blog-post-content-refer__link">
					www.bestpsdfreebies.com
				</a>	
				<p class="blog-post-content-refer__text">
					Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.
				</p>
			</div>	
			<div class="blog-post-content__line"></div>	
		</div>
	</div>
	<div class="blog-nav">
		<a href="page.html" class="blog-nav__button runButton" >1</a>
		<a href="" class="blog-nav__button">2</a>
		<a href="" class="blog-nav__button">3</a>
	</div>
</section>