<aside class="sidebar">
	<div class="sibebar-section">
		<div class="sidebar-title">
			<h3 class="sidebar-title__header">about &nbsp; jetro</h3>
			<div class="sidebar-title__line"></div>
		</div>
		<p class="sibebar-section__text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum. 
		</p>	
	</div>
	<div class="sibebar-section">
		<div class="sidebar-title">
			<h3 class="sidebar-title__header">categories</h3>
			<div class="sidebar-title__line"></div>
		</div>
		<ul class="sibebar-menu">
			<li><a href="" class="sibebar-section__link">Video(3)</a></li>
			<li><a href="" class="sibebar-section__link">Sports(5)</a></li>
			<li><a href="" class="sibebar-section__link">Media(2)</a></li>
			<li><a href="" class="sibebar-section__link">Entertainment(7)</a></li>
			<li><a href="" class="sibebar-section__link">Life(4)</a></li>
			<li><a href="" class="sibebar-section__link">Super Cool Staff(8)</a></li>
		</ul>
	</div>
	<div class="sibebar-section">
		<div class="sidebar-title">
			<h3 class="sidebar-title__header">photo &nbsp; gallery</h3>
			<div class="sidebar-title__line"></div>
		</div>
		<div class="sidebar-photo-gallery"> 
			<ul id="lightGallery" class="lightGallery">
					<li data-thumb="img/photogallery/photo1.jpg" data-src="img/photogallery/photo1.jpg"><img src="img/photogallery/photo1.jpg" alt="#photo1" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo2.jpg" data-src="img/photogallery/photo2.jpg"><img src="img/photogallery/photo2.jpg" alt="#photo2" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo3.jpg" data-src="img/photogallery/photo3.jpg"><img src="img/photogallery/photo3.jpg" alt="#photo3" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo4.jpg" data-src="img/photogallery/photo4.jpg"><img src="img/photogallery/photo4.jpg" alt="#photo4" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo5.jpg" data-src="img/photogallery/photo5.jpg"><img src="img/photogallery/photo5.jpg" alt="#photo5" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo6.jpg" data-src="img/photogallery/photo6.jpg"><img src="img/photogallery/photo6.jpg" alt="#photo6" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo7.jpg" data-src="img/photogallery/photo7.jpg"><img src="img/photogallery/photo7.jpg" alt="#photo7" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo8.jpg" data-src="img/photogallery/photo8.jpg"><img src="img/photogallery/photo8.jpg" alt="#photo8" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo9.jpg" data-src="img/photogallery/photo9.jpg"><img src="img/photogallery/photo9.jpg" alt="#photo9" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo10.jpg" data-src="img/photogallery/photo10.jpg"><img src="img/photogallery/photo10.jpg" alt="#photo10" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo11.jpg" data-src="img/photogallery/photo11.jpg"><img src="img/photogallery/photo11.jpg" alt="#photo11" class="sidebar-photo-gallery-item"></li>
					<li data-thumb="img/photogallery/photo12.jpg" data-src="img/photogallery/photo12.jpg"><img src="img/photogallery/photo12.jpg" alt="#photo12" class="sidebar-photo-gallery-item"></li>

			</ul>
		</div>
	</div>
</aside>
